{% extends "partners/base.html" %} {% block content %}
<div class="py-2">
  <div class="text-end mb-3">
    <a href="{% url 'partner:add' %}" role="button"
      class="btn btn-lg btn-outline-primary">Add New Partner</a>
  </div>
  <div class="partners-list"></div>
</div>
<template id="new_partner_detail_template">
<div class="card mb-3">
  <div class="card-header">
    <p class="m-0">Partner Name</p>
    <h4 class="partner-name"></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p class="m-0">Partner GST (optional):</p>
        <h5 class="partner-gstin"></h5>
      </div>
      <div class="col">
        <p class="m-0">Partner website:</p>
        <h5 class="partner-website_uri"></h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="m-0">Partner Phone:</p>
        <h5 class="partner-phone_number"></h5>
      </div>
      <div class="col">
        <p class="m-0">Partner email:</p>
        <h5 class="partner-email"></h5>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a href="#" role="button" class="btn btn-info link-view-members">View Members</a>
    <a href="#" role="button" class="btn btn-outline-secondary float-end link-edit-partner">Edit Partner Details</a>
  </div>
</div>
</template>
{% endblock %} {% block extra_footer_tags %}
<script>
  const append_partner = (partner_obj) => {
    const template = document.querySelector('#new_partner_detail_template');
    const template_clone = template.content.cloneNode(true);
    for(const field in partner_obj) {
        const partner_field = template_clone.querySelector(`.partner-${field}`);
        if(!partner_field) {
          continue;
        }
        partner_field.textContent = partner_obj[field];
    }
    // Updating action button URLs
    const btn_members = template_clone.querySelector('.link-view-members');
    if(btn_members) {
      btn_members.setAttribute('href', partner_obj['members_url']);
    }
    const btn_partner = template_clone.querySelector('.link-edit-partner');
    if(btn_partner) {
      btn_partner.setAttribute('href', partner_obj['url']);
    }
    document.querySelector('.partners-list').appendChild(template_clone);
  };
  document.addEventListener("DOMContentLoaded", async (e) => {
    await fetch("{% url 'api:partner-list' %}")
    .then((response)=>response.json())
    .then((data)=>{
      if(data.count<1) {
        console.error('No Partners Found!');
        const list_container = document.querySelector('.partners-list');
        list_container.innerHTML = `
        <h1 class="text-danger">No Partners Found Yet!</h1>
        `;
        list_container.style.display = 'block';
      } else {
        for(const index in data.results) {
          append_partner(data.results[index]);
        }
      }
    })
  });
</script>
{% endblock %}
