{% extends "partners/base.html" %} {% block content %}
<form class="needs-validation border border-1 rounded shadow-sm p-3 my-3" id="member_form" method="POST" novalidate>
  <p>Partner Name:</p>
  <h4>{{partner_instance}}</h5>
  <hr>
  {% csrf_token %}
  {% if member_form.errors %}
    <div class="alert alert-danger" role="alert">
      Form has some errors! Please fix and submit again.
    </div>
  {% else %}
    <div class="alert" style="display: none;"></div>
  {% endif %}
  {{member_form.as_p}}
  <div class="text-center">
    <button class="btn btn-lg btn-primary" type="submit">
      {% if is_adding == 'yes' %}
      Add New
      {% else %}
      Update
      {% endif %}
      Member
    </button>
  </div>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</form>

{% if is_adding == 'yes' %}
<div class="members-list py-2"></div>
<template id="new_member_detail_template">
<div class="card mb-3">
  <div class="card-body">
      <p class="m-0">Member Name:</p>
      <h5 class="member-name"></h5>
      <p class="m-0">Member email:</p>
      <h5 class="member-email"></h5>
      <p class="m-0">Member phone:</p>
      <h5 class="member-mobile_number"></h5>
  </div>
  <div class="card-footer">
    <a href="#" role="button" class="btn btn-outline-secondary link-edit-member">Edit Member Details</a>
  </div>
</div>
</template>
{% endif %}

{% endblock %} {% block extra_footer_tags %}
<script type="text/javascript">
  const getFormJSON = (form) => {
    const data = new FormData(form);
    return Array.from(data.keys()).reduce((result, key) => {
      result[key] = data.get(key);
      return result;
    }, {});
  };

   const append_member = (member_obj) => {
    const template = document.querySelector('#new_member_detail_template');
    const template_clone = template.content.cloneNode(true);
    for(const field in member_obj) {
        const member_field = template_clone.querySelector(`.member-${field}`);
        if(!member_field) {
          continue;
        }
        member_field.textContent = member_obj[field];
    }
    // Updating action button URLs
    const btn_member = template_clone.querySelector('.link-edit-member');
    if(btn_member) {
      btn_member.setAttribute('href', member_obj['url']);
    }
    document.querySelector('.members-list').appendChild(template_clone);
  };

  const get_members = async () => {
    await fetch('{{ api_url_member_list }}')
    .then((response)=>response.json())
    .then((data)=>{
      if(data.count<1) {
        console.error('No Members Found!');
        const list_container = document.querySelector('.members-list');
        list_container.innerHTML = `
        <h1 class="text-danger">No Members Found Yet!</h1>
        `;
        list_container.style.display = 'block';
      } else {
        // Empty list to re-populate again
        document.querySelector('.members-list').InnerHTML = '';
        for(const index in data.results) {
          append_member(data.results[index]);
        }
      }
    });
  }

  document.addEventListener("DOMContentLoaded", (e) => {
    // Call to list members
    {% if is_adding == 'yes' %}
    get_members();
    {% endif %}
    const form = document.querySelector("#member_form");
    form.addEventListener(
      "submit",
      async (event) => {
        event.preventDefault();
        event.stopPropagation();

        const alert_box = form.querySelector('.alert');

        await fetch("{{ api_post_endpoint }}", {
          method: '{{ submit_method }}',
          cache: 'no-cache',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(getFormJSON(form))
        })
        .then((response) => {
          if(!response.ok) {
            console.error('Error! Error!');
            alert_box.classList.add('alert-danger');
            alert_box.innerHTML = `Error! ${response.status} : ${response.statusText}`;
          } else {
            console.log('Success');
            alert_box.classList.add('alert-success');
            alert_box.innerHTML = `Success! ${response.status} : ${response.statusText}`;
            if('{{ is_adding }}' === 'yes') {
              append_member(getFormJSON(form));
            } else {
              console.log('redirect or reset form!');
              //location.href = "{{ api_url_member_list }}";
            }
            form.reset();
          }
          alert_box.style.display = 'block';
        })
        .catch((error) => {
          console.error('Error', error);
          alert_box.classList.add('alert-danger');
          alert_box.innerHTML = `This: ${error}`;
          alert_box.style.display = 'block';
        });

        form.classList.add("was-validated");
      },
      false
    );
  });
</script>
{% endblock %}
